<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInN0cmljdG5lc3MiOiAiIgogIH0s
			IAogICJoZWFkZXJzIjogewogICAgIkFjY2VwdCI6ICIqLyoiLCAK
			ICAgICJBY2NlcHQtRW5jb2RpbmciOiAiZ3ppcCwgZGVmbGF0ZSIs
			IAogICAgIkFjY2VwdC1MYW5ndWFnZSI6ICJlbi11cyIsIAogICAg
			Ikhvc3QiOiAiaHR0cGJpbi5vcmciLCAKICAgICJVc2VyLUFnZW50
			IjogInhjdGVzdCAodW5rbm93biB2ZXJzaW9uKSBDRk5ldHdvcmsv
			NzExLjMuMTggRGFyd2luLzE0LjMuMCIKICB9LCAKICAib3JpZ2lu
			IjogIjY3LjE4MC4xMS4yMzMiLCAKICAidXJsIjogImh0dHBzOi8v
			aHR0cGJpbi5vcmcvZ2V0P3N0cmljdG5lc3MiCn0K
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>strictness</key>
					<string></string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/711.3.18 Darwin/14.3.0</string>
				</dict>
				<key>origin</key>
				<string>67.180.11.233</string>
				<key>url</key>
				<string>https://httpbin.org/get?strictness</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?strictness</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?strictness</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?strictness</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>342</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 19:22:20 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>342</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
