<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>ewogICJhcmdzIjogewogICAgImJhciI6ICJiYXIiLCAKICAgICJiYXoiOiAiYmF6IiwgCiAgICAiZm9vIjogImZvbyIKICB9LCAKICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAgICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAKICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJIb3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAib3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P2Jhcj1iYXImZm9vPWZvbyZiYXo9YmF6Igp9Cg==</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>bar</key>
					<string>bar</string>
					<key>baz</key>
					<string>baz</string>
					<key>foo</key>
					<string>foo</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo&amp;baz=baz</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo&amp;baz=baz</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo&amp;baz=baz</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo&amp;baz=baz</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>397</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:32:10 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>397</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>3B9B63AE-BA5C-458D-8472-13F1423058FD</string>
	</dict>
</array>
</plist>
