<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgImJhciI6ICJiYXIiLCAKICAgICJm
			b28iOiAiZm9vIgogIH0sIAogICJoZWFkZXJzIjogewogICAgIkFj
			Y2VwdCI6ICIqLyoiLCAKICAgICJBY2NlcHQtRW5jb2RpbmciOiAi
			Z3ppcCwgZGVmbGF0ZSIsIAogICAgIkFjY2VwdC1MYW5ndWFnZSI6
			ICJlbi11cyIsIAogICAgIkhvc3QiOiAiaHR0cGJpbi5vcmciLCAK
			ICAgICJVc2VyLUFnZW50IjogInhjdGVzdCAodW5rbm93biB2ZXJz
			aW9uKSBDRk5ldHdvcmsvNzExLjIuMjMgRGFyd2luLzE0LjMuMCIK
			ICB9LCAKICAib3JpZ2luIjogIjY3LjE4MC4xMS4yMzMiLCAKICAi
			dXJsIjogImh0dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P2Jhcj1iYXIm
			Zm9vPWZvbyIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>bar</key>
					<string>bar</string>
					<key>foo</key>
					<string>foo</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/711.2.23 Darwin/14.3.0</string>
				</dict>
				<key>origin</key>
				<string>67.180.11.233</string>
				<key>url</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?bar=bar&amp;foo=foo</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>362</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Wed, 24 Jun 2015 06:16:59 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>362</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgImJhciI6ICJiYXIiLCAKICAgICJm
			b28iOiAiZm9vIgogIH0sIAogICJoZWFkZXJzIjogewogICAgIkFj
			Y2VwdCI6ICIqLyoiLCAKICAgICJBY2NlcHQtRW5jb2RpbmciOiAi
			Z3ppcCwgZGVmbGF0ZSIsIAogICAgIkFjY2VwdC1MYW5ndWFnZSI6
			ICJlbi11cyIsIAogICAgIkhvc3QiOiAiaHR0cGJpbi5vcmciLCAK
			ICAgICJVc2VyLUFnZW50IjogInhjdGVzdCAodW5rbm93biB2ZXJz
			aW9uKSBDRk5ldHdvcmsvNzExLjIuMjMgRGFyd2luLzE0LjMuMCIK
			ICB9LCAKICAib3JpZ2luIjogIjY3LjE4MC4xMS4yMzMiLCAKICAi
			dXJsIjogImh0dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P2Zvbz1mb28m
			YmFyPWJhciIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>bar</key>
					<string>bar</string>
					<key>foo</key>
					<string>foo</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/711.2.23 Darwin/14.3.0</string>
				</dict>
				<key>origin</key>
				<string>67.180.11.233</string>
				<key>url</key>
				<string>https://httpbin.org/get?foo=foo&amp;bar=bar</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?foo=foo&amp;bar=bar</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?foo=foo&amp;bar=bar</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?foo=foo&amp;bar=bar</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>362</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Wed, 24 Jun 2015 06:16:59 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>362</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
