<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>C3EE3DBF-8BC7-4915-80DC-077547281343</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>6E439AF1-D497-47AC-810E-927CA4317F61</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:38 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>7A77A084-045E-45F1-956E-A7B40C15C175</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>869FB67C-2F38-4A1B-B7DA-CA44A63451DA</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:38 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>7C7C2C1B-917D-46AD-A863-F4438A4612EE</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>C930B003-9DCB-4B47-B871-C56DC1CEEDE7</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>B9436B0C-C710-4B2B-89EF-D8F0584A8A61</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>21C1CFF5-402E-488F-A997-E07269B63B61</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:38 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>DFD77D5C-23BF-41D2-9C92-6D661C06C29A</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:25:39 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>CE51EA7A-3F49-4F4C-A133-56674215CB8B</string>
	</dict>
</array>
</plist>
