<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgInRlc3QiOiAidGVzdCIKICB9LCAK
			ICAiaGVhZGVycyI6IHsKICAgICJBY2NlcHQiOiAiKi8qIiwgCiAg
			ICAiQWNjZXB0LUVuY29kaW5nIjogImd6aXAsIGRlZmxhdGUiLCAK
			ICAgICJBY2NlcHQtTGFuZ3VhZ2UiOiAiZW4tdXMiLCAKICAgICJI
			b3N0IjogImh0dHBiaW4ub3JnIiwgCiAgICAiVXNlci1BZ2VudCI6
			ICJ4Y3Rlc3QgKHVua25vd24gdmVyc2lvbikgQ0ZOZXR3b3JrLzc2
			MC4yLjYgRGFyd2luLzE1LjIuMCAoeDg2XzY0KSIKICB9LCAKICAi
			b3JpZ2luIjogIjE5OC4wLjIwOS4yMzgiLCAKICAidXJsIjogImh0
			dHBzOi8vaHR0cGJpbi5vcmcvZ2V0P3Rlc3Q9dGVzdCIKfQo=
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?test=test</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?test=test</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>347</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:30:52 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>347</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>03844AD1-6A90-41EB-A421-8A6F20F1475F</string>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			ewogICJhcmdzIjogewogICAgIjIxNzQ2N0JELUU5MDYtNDM1RC1B
			ODI3LTRDRDI4QjA1RTRERiI6ICIiCiAgfSwgCiAgImhlYWRlcnMi
			OiB7CiAgICAiQWNjZXB0IjogIiovKiIsIAogICAgIkFjY2VwdC1F
			bmNvZGluZyI6ICJnemlwLCBkZWZsYXRlIiwgCiAgICAiQWNjZXB0
			LUxhbmd1YWdlIjogImVuLXVzIiwgCiAgICAiSG9zdCI6ICJodHRw
			YmluLm9yZyIsIAogICAgIlVzZXItQWdlbnQiOiAieGN0ZXN0ICh1
			bmtub3duIHZlcnNpb24pIENGTmV0d29yay83NjAuMi42IERhcndp
			bi8xNS4yLjAgKHg4Nl82NCkiCiAgfSwgCiAgIm9yaWdpbiI6ICIx
			OTguMC4yMDkuMjM4IiwgCiAgInVybCI6ICJodHRwczovL2h0dHBi
			aW4ub3JnL2dldD8yMTc0NjdCRC1FOTA2LTQzNUQtQTgyNy00Q0Qy
			OEIwNUU0REYiCn0K
			</data>
			<key>json</key>
			<dict>
				<key>args</key>
				<dict>
					<key>217467BD-E906-435D-A827-4CD28B05E4DF</key>
					<string></string>
				</dict>
				<key>headers</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
					<key>Host</key>
					<string>httpbin.org</string>
					<key>User-Agent</key>
					<string>xctest (unknown version) CFNetwork/760.2.6 Darwin/15.2.0 (x86_64)</string>
				</dict>
				<key>origin</key>
				<string>198.0.209.238</string>
				<key>url</key>
				<string>https://httpbin.org/get?217467BD-E906-435D-A827-4CD28B05E4DF</string>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?217467BD-E906-435D-A827-4CD28B05E4DF</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en-us</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://httpbin.org/get?217467BD-E906-435D-A827-4CD28B05E4DF</string>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>application/json</string>
				<key>URL</key>
				<string>https://httpbin.org/get?217467BD-E906-435D-A827-4CD28B05E4DF</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Content-Length</key>
					<string>402</string>
					<key>Content-Type</key>
					<string>application/json</string>
					<key>Date</key>
					<string>Tue, 12 Jan 2016 21:30:52 GMT</string>
					<key>Server</key>
					<string>nginx</string>
					<key>access-control-allow-credentials</key>
					<string>true</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>402</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>get.json</string>
			</dict>
		</dict>
		<key>uniqueIdentifier</key>
		<string>6B0D7B2A-9B83-404B-90CB-6CF7EF2B5ADD</string>
	</dict>
</array>
</plist>
